
<ion-tabs class="tabs-icon-top tabs-background-dark tabs-color-light tabs-striped ">

  <!-- tab-device-->
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" href="#/tab/deviceAll">
    <ion-nav-view name="tab-deviceAll"></ion-nav-view>
  </ion-tab>

  <!-- tab-timing -->
  <ion-tab title="设备" icon-off="ion-ios-pulse-strong" icon-on="ion-ios-pulse-strong" href="#/tab/more-choice">
    <ion-nav-view name="tab-more"></ion-nav-view>
  </ion-tab>

  <!-- tab-setting -->
  <ion-tab title="定时" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock-outline" href="#/tab/timing">
    <ion-nav-view name="tab-timing"></ion-nav-view>
  </ion-tab>

  <!-- tab-more -->
  <ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear-outline" href="#/tab/setting">
    <ion-nav-view name="tab-setting"></ion-nav-view>
  </ion-tab>


</ion-tabs>
