<meta charset="utf-8">
<ion-view>
  <div class="bar bar-header bar-stable ">
    <div class="button button-clear icon ion-home"></div>
    <h1 class="title">设备</h1>
    <div class="button button-clear icon ion-plus-round"></div>
  </div>
  <div class="bar bar-subheader bar-stable ">
    <div class="button-bar" style="">
      <a class="button " href="#/tab/deviceAll">设备列表</a>
      <a class="button button-balanced" href="#/tab/deviceScene">场景列表</a>
      <a class="button" href="#/tab/deviceSmart">智能列表</a>
    </div>
  </div>
  <ion-content class="has-header ">
    场景列表
  </ion-content>
</ion-view>
